In [1]:
import pandas as pd
import pdfplumber

In [20]:
pdf_path = r"D:\Python\Student Mark.pdf"

In [21]:
rows = []
with pdfplumber.open(pdf_path) as pdf:
    for page in pdf.pages:
        table = page.extract_table()
        if table:
            rows.extend(table)
            
df = pd.DataFrame(rows[1:], columns=rows[0])

# Top Ranking Students

In [22]:
print("Top Performers:")
print(df.head())

Top Performers:
              Name Roll No Sub 1 Sub 2 Sub 3 Sub 4 Sub 5 Total
0       Ava Miller      49    98    88    71    60    92   409
1     Liam Johnson      33    96    95    92    43    82   408
2     Sophia Davis      43   100    98    92    50    64   404
3       Noah Brown      23    90    56    99    84    64   393
4  Isabella Wilson      36    95    40    62    96   100   393

# Low Ranking Students

In [23]:
print("\nLeast Performers:")
print(df.tail())

Least Performers:
             Name Roll No Sub 1 Sub 2 Sub 3 Sub 4 Sub 5 Total
45  Jayden Morris       9    50    95    48    36    38   267
46   Layla Rogers      26    50    35    44    63    69   261
47     Nolan Reed      25    53    81    41    40    46   261
48    Audrey Cook      50    42    82    43    37    42   246
49    Oliver Bell      13    35    38    44    44    74   235